header a {
	color:#f2206c;
}
input[type=text]{
	background: #FFFFED;
	font-size: 18px;
}
input[type*=pass]{
	background:#aacbee;
}
section img:nth-of-type(1){
	width: 200px;
}
section li{
	color:#0ea6ff;
}
footer a{
	color:#b57bf2;
}
